import(car,combinat,lpSolveAPI)
importFrom("stats","na.omit","AIC","BIC","anova","cor")
export(aps.reg,
       dm.ddf,
       dm.dea,
       dm.sbm,
       dm.sf,
       map.soa.ddf,
       map.soa.dea,
       map.soa.sbm,
       map.soa.sf,
       roc.dea,
       roc.sf,
       target.arrival.dea,
       target.arrival.sf,
       target.spec.dea
       )